@{
    ViewData["Title"] = "Home Page";
}

<section id="home-content">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1>Occupancy Charts</h1>
            <h3>This app displays information about occupency rates at your apartment building.</h3>
            <h3>We include a line graph that shows average vacant days each month in reference to overall occupancy rates.</h3>
            <h3>You can also view a doughnut chart that displays the average percentages for </h3>
        </div>
    </div>
    <div class="row">
        <footer class="col-md-12">
            <hr />
            <p class="text-center">&copy; 2016 - ChartingProject</p>
        </footer>
    </div>
</section>