@{
    ViewData["Title"] = "Occupancy Rates";
}
@section Scripts {
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/ui-bootstrap/ui-bootstrap-tpls-1.2.5.min.js"></script>
    <script src="~/lib/chartist/dist/chartist.js"></script>
    <script src="~/js/chartist.js"></script>
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Weather Graphs
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <div class="col-md-offset-2 col-md-8">
        <div class="ct-chart ct-major-third"></div>
    </div>
<div class="row">
    <footer class="col-md-12">
        <hr />
        <p class="text-center">&copy; 2016 - ChartingProject</p>
    </footer>
</div>