@model IEnumerable<ChartingProject.Models.Occupancy>
@{
    ViewData["Title"] = "Occupancy Rates";
}
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/chartist/dist/chartist.js"></script>
    <script src="~/js/chartist.js"></script>
    <script src="~/js/site.js"></script>
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <h2>
                    Options
                </h2>
            </li>
            <li>
                <div class="form-group">
                    <label>Select a month:</label>
                    <input type="text" class="form-control form-control-1 input-sm monthPicker" placeholder="MM/YYYY">
                </div>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <div class="col-md-offset-2 col-md-8">
        <div class="ct-chart ct-major-third"></div>
    </div>
<ul>
    @foreach (var occupancy in Model)
    {
        <li>@occupancy.Month</li>
    }
</ul>
    <div class="row">
        <footer class="col-md-12">
            <hr />
            <p class="text-center">&copy; 2016 - ChartingProject</p>
        </footer>
    </div>
